* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
   

}

:root {
    --color: rgba(244, 23, 23, 0.934);

}
body{
    background-color: black;
}

.main {
    background-image: url("background.jpg");
    height: 100vh;
    /* filter: brightness(0.44); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    position: relative;
    background-size: cover;
    
}

.main .box {
    opacity: 0.69;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;


}

nav {
    width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    position: relative;
    top: 14px;

}

nav img {
    
    width: 149px;
    position: relative;
    z-index: 10;

}



.main .hero {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 12;
    font-family: "Martel Sans", sans-serif;
    text-align: center;
    gap: 20px;
    padding: 0px 30px;
    margin: 0px 22%;


}


.hero>:first-child {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
   
    font-size: 56px;
    line-height: 68px;
   
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.btn{
    background-color: var(--color);
    color: white;
    padding: 6px 13px  4px 13px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.btn:hover{
    background-color: rgba(218, 5, 5, 0.84);
}
.btn2{
padding: 10px 17px ;
    font-size: 23px;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.hero input{
    background-color:rgb(32 26 26 / 80%);
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    width: 28vw;
    border: 0.1px  solid rgb(76, 71, 71);
    border-radius: 5px;
    
    
}
.line{
    height: 1.5%;
    width: 100%;
    background-color: #332f2f;
}
.section2{
    height: 80vh;
    width: 100%;
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    
    
}

.section2 .head{
    color: white;
    font-size: 24px;
    font-weight: 500;
   padding-left: 76px;
}
.section2 .select{
padding-left: 76px;

}
.section2 select{
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #241d1d;
    padding: 7px 13px;
    border-radius: 5px;
   margin: 12px;
}
.slide{
    
    height: 200vh;
    width: 100%;
    background-color: black;
}
.section2 .slide ul{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 34px;
}
.section2 .slide ul li img{
    border-radius: 7px;
    transition: all 0.3s  ease-in;
    cursor: pointer;
}
.section2 .slide ul  li{
    padding: 23px;
   
}
.section2 .slide ul li img:hover{
    transform: scale(1.1,1.1);
}

.slide button{
    height: 151px;
    width: 37px;
    border-radius: 10px;
    background-color: #201e1ee3;
   border: none;
   cursor: pointer;
   padding: none;

}
.section4{
  height: 75vh;
}


.section4 .head2{
    color: white;
    font-size: 24px;
    font-weight: 500;
   padding-left: 141px;
}

.reason ul{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}


.reason ul li{
    color: white;
    list-style: none;
    height: 287px;
    width: 204px;
    margin: 6px;
    border-radius: 6px;
    background:linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    padding: 23px 15px !important;  
  
}
.reason ul li>:first-child{
    font-size: 24px;
    font-weight: 500;
  
}
.reason .one{
    position: relative;
    bottom: -72px;
    right: -127px;
}
.reason .two{
    position: relative;
    bottom: -51px;
    right: -132px;
}
.reason .three{
    position: relative;
    bottom: -67px;
    right: -129px;
}
.reason .four{
    position: relative;
    bottom: -23px;
    right: -132px;

}
.section3{
    height: 100vh;
    width: 100%;
    color: white;
}
.section3 h2{
    padding-left: 144px;
    font-size: 24px;
    font-weight: 500;
}
.section3 .faqbox{
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    margin: 6px auto;
    padding: 23px;
    font-size: 25px;
    transition: background-color 0.2s ease-in-out;

}
.section3 .faqbox:hover{
    background-color:#454444 ;
    cursor: pointer;
}
.section5{
    height: 25vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
   margin:39px auto;
    color: white;
}
.section5 :nth-child(2){
   margin: 5px 7px;
}
.section5 input{
    background-color:rgb(32 26 26 / 80%);
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    width: 42vw;
    border: 0.1px  solid rgb(76, 71, 71);
    border-radius: 5px;
    
}
.section6{
    height: 40vh;
    display: flex;
   color: white;
    flex-direction: column;
    align-items: center;
}
.section6 >div{
    padding: 7px;
    
}

.section6 .grid{
    display: grid;
    grid-template-columns: repeat(4,246px);
    justify-content: center;
}


.section6 ul li{
    list-style: none;
    padding: 5px;
}
.section6 a{
    color: rgb(169, 166, 166);
}
.footer{
    height: 20vh;
    width: 78%;
    margin: auto;
    color: rgb(153, 146, 146);
    text-decoration: underline;
   
}
.footer select{
    background-color: #101011;
    color: white;
    padding: 7px 17px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 23px;
}
.footer div{
    text-align: end;
}

@media screen and (max-width:1000px) {
    .hero-buttons{
        display: flex;
        flex-direction: column;
    }
    .hero-buttons input{
        width: 90%;
    }
}

@media screen and (max-width:1000px) {
    .main .hero{
        margin: 0 ;
    }

    .section2{
        height: 220vh;
    }
    .section2 .select ,.head{
        display: grid;
        padding:0px 15px !important;
    }
    .section4{
        height: 130vh;
    }
    .section3{
        height: 75vh;
    }
    .section4 .head2{
        padding: 0px 17px !important;
    }
    .section4 .reason li{
        height: 21vh;
        width: 83%;
        border-radius: 20px;

    }
    .reason ul{
        flex-direction: column;
    }
    .section4 .reason svg {
        position: relative;
        bottom: 65px;
        left: 118px;
        height: 45px;
    }
    .section6 .grid{
        grid-template-columns: 1fr;
        
    }
    .section6{
        height: 90vh;
        display: grid;
        margin: 0px 17px !important
    }
    
    .section3 h2{
        padding: 0px 20px !important;
        font-size: 20px;
    }
    .section3 .faqbox{
        font-size: 16px;

    }
    .section3 .faqbox svg{
        height: 20px;
       
    }
    .section5{
        margin: 22px;
    }
    .section5 :nth-child(2){
        margin: 16px auto;

    }
    .section5 input{
        width: 84%;
        height: 2vh;
    }
    .footer{
        margin:0px 29px ;
        color: white;
    }
    .footer div {
        font-size: 11px;
        font-weight: 700;
        color: rgb(153, 146, 146);
    }
}